/*  
	Author: Ross Montgomery (E00971626)
	COSC 231 Winter
	Date: January 21st, 2011
*/

body {
  background: #f8f8f8;
  padding: 0;
  margin: 0;
  background-color: #333;
	overflow: hidden;
}
table{
	float: right;
}
#game-container {
  background: green;
  height: 600px;
  width: 800px;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  background-image: url(http://people.emich.edu/rmontgo3/01202011/grass.jpg);
  border: 0px;
}
#ninja{
  background-image: url(../images/sonic.gif);
  position: absolute;
  z-index: 3; 
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: 40px;
  -moz-background-size: 40px;
  height: 80px;
  width: 50px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
#count{
  float: right;
  position: relative;
  top: 100px;
  left: 150px;
  color: white;
}
#time{
  float: right;
  position: relative;
  top: 150px;
  left: 250px; 
  color: white;
}
#logo{
  position: relative;
  top: 300px;
  left: 450px; 
  float: right;
  height: 120px;
  width: 250px;
}
.tile {
  float: left;
  height: 100px;
  width: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px;
  -moz-background-size: 100px;
}

.water {
  background-image: url(http://people.emich.edu/rmontgo3/01202011/Water.gif);
  height: 100px;
  width: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px;
  -moz-background-size: 100px;
}
.explosion{
  background-image: url(http://people.emich.edu/rmontgo3/pp3/explosion_animated_gif.gif);
  height: 100px;
  width: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100px;
  -moz-background-size: 100px;
}
.tile.start {
  background-image: url(http://people.emich.edu/rmontgo3/pp3/start);
}
.tile.lava {
  background-image: url(http://pontusschonberg.net/files/custom-lava-preview.gif);
}
.apop{
  background-image: url(http://people.emich.edu/rmontgo3/pp3/waterfood_popsicle.gif);
  height: 100px;
  width: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60px;
  -moz-background-size: 60px;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}